<html>
  <head></head>
  <body style ='<%= style %>'>
    <form>
  		<input type='text' name='guess' />
  		<input type='submit' value='Guess!' />
		</form>
		<p>
			<%= message %>
			You have <%= guesses_available %> guess(es) left.
		</p>
  </body>
</html>
